
            body{
                background-color: chartreuse;
                color: rgb(132, 9, 9);
            }
            h1{
                color: black;
                font-style: italic;
                font-size: 60px;
                text-align: center;
            }
            .secdiv{
                background-color: navy;
                align-items: center;
                justify-content: center;
                display:flex ;
            }
            .firstButton{
                background-color: green;
                font-size: 20px;
                color: white;
                margin: 5px;
                margin-left: 10px;
                margin-right: 10px;
                margin-top: 130px;
                margin-bottom: 130px;
                padding: 30px 100px;
                cursor: pointer;
                border: 10px ridge rgb(237, 147, 102)
            }
            
            .subbuttJS{
                color: black ;
                background-color: grey;
            }
            .subbutt{
                margin: 30px;
                margin-left: 100px;
                padding: 5px 10px;
                border: ridge 10px;
                border-radius: 20px;
                font-size: 30px;
                background-color: black;
                color: white;
            }
            .subbutt:hover{
                font-size: 50px;
            }
            /* button:hover{
                background-color:red ;
                color: black;
                font-size: 30px;  
            }   
     */